# build files
.deps
.dirstamp
.libs
*.o
*.lo
*.la
config.h*
stamp-h*
test-suite.log
/minicrawler[0-9]
/libminicrawler

# make check files
/test/url
/test/run.log
/test/run.trs
/integration-tests/run.log
/integration-tests/run.trs

# GNU Build System
/autom4te.cache
/aclocal.m4
/build-aux
/config.guess
/config.log
/config.status
/configure
/libtool
/m4
Makefile
Makefile.in


# docker env file
.env